**/res*
**.vscode/
**venv*/
**__pycache__/
*.pos
*.pre
*.res
*.msh
*.db
*.asv
*.zip
*.7z
PathSettings_*.m
Area*.csv
test*.pro
test*.geo
test*.json
duplicationInformation.csv
Materials.csv
defaultFileInfo.mat


**/build
**/_*
**/areaCSV


Software_V2/workingDirectory/testPlot.png