**/res*
**.vscode/
**venv*/
**__pycache__/
/dist
/pyemmo.egg-info
*.pos
*.pre
*.res
*.msh
*.db
*.asv
*.zip
*.7z
PathSettings_*.m
Area*.csv
test*.pro
test*.geo
test*.json

# Dont track doc build
doc/_build/

# exclude uml diagrams folder except for createUML.py
doc/UML_Diagrams/*
!doc/UML_Diagrams/createUML.py

# Exclude testPosImport content
workingDirectory/testPosImport/*

# specific files to ignore