**/res*
**.vscode/
**venv*/
**__pycache__/
**.*cache*/
/dist
/build
**/pyemmo.egg-info
*.pos
*.pre
*.res
*.msh
*.db
*.zip
*.7z
Area*.csv
test*.pro
test*.geo
test*.json
*.log
.tox

# Dont track doc build
doc/_build/

# exclude uml diagrams folder except for createUML.py
doc/UML_Diagrams/*
!doc/UML_Diagrams/createUML.py

# Exclude testPosImport content
workingDirectory/testPosImport/*
workingDirectory/test_asm/*.html

# Exclude onelab test installation
tests/data/*onelab/
tests/GETDP_TEST_PATH
tests/GMSH_TEST_PATH

# Exclude private tests
tests/private
workingDirectory/private

# specific files to ignore
tests/GMSH_TEST_PATH
tests/GETDP_TEST_PATH
.python-version
.coverage
.python-version


# specific files to not ignore
!tests/data/functions/import_results/SP_fomatted_res_file.pos
