graft pyemmo

include pyemmo/script/material/Material_new.db

prune tests
prune workingDirectory
prune Results
prune */.vscode
prune */__pycache__
prune pyemmo/script/__pycache__
prune pyemmo/api/__pycache__
prune pyemmo/functions/__pycache__
prune .egg-info

global-exclude *.py[cod]

exclude pyemmo/dictionary.doc
exclude pyemmo/script/material/Material_old.db
exclude pyemmo/script/material/220204_Material_new.json

# Exclude Material_new.db for smaller package file
# exclude pyemmo/script/material/Material_new.db
