matplotlib>=3.3.4
numpy>=2.0.0
parse>=1.19.0
pygetdp>=1.0.0
swat_em>=0.6.3
gmsh>=4.10.3,<4.14 # block newest version due to issue with .geo export: https://gitlab.onelab.info/gmsh/gmsh/-/issues/3214
splines
## Use updated version of PYLEECAN from dev branch, because it will not install otherwise.
# Use my SciDataTool version for
SciDataTool @ git+https://github.com/mxgnsr/SciDataTool.git@update-reqs
pyleecan @ git+https://github.com/eomys/pyleecan.git@upgrade-python-version
